// @import 'https://fonts.googleapis.com/css?family=Work+Sans';
// :root {
//     --#{$prefix}body-font-family: 'Work Sans', sans-serif;
// }
@font-face {
    font-family: "Work Sans";
    src: url('/fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
}
body {
    font-family: Work Sans, sans-serif;
    font-weight: 400;
}